{% extends "index.html" %}

{% block title %}Superior Pet Services{% endblock %}

{% block projectname %}<a class="navbar-brand" href="#">Superior Pet Services Operational Dashboard</a>{% endblock %}

{% block admin %}<a href="../admin/">Admin</a>{% endblock %}

{% block sidebar1 %}<a href="/create_customer/">Create a New Customer</a>{% endblock %}
{% block sidebar2 %}<a href="/add_pet/">Add a New Pet</a>{% endblock %}
{% block sidebar3 %}<a href="/create_service/">Create a New Service</a>{% endblock %}
{% block sidebar4 %}{% endblock %}
{% block sidebar5 %}{% endblock %}
{% block sidebar6 %}<a href="/create_order/">Create an Order</a>{% endblock %}
{% block sidebar7 %}{% endblock %}
{% block sidebar8 %}{% endblock %}

{% block content %}
{{ html }}
{% endblock %}