{% extends "base.html" %}

{% block title %}Superior Pet Services{% endblock %}

{% block projectname %}<a class="navbar-brand" href="#">Superior Pet Services Operational Dashboard</a>{% endblock %}

{% block admin %}<a href="../admin/">Admin</a>{% endblock %}

{% block sidebar1 %}<a href="/pet_sitting/add_customer/">Add a New Customer</a>{% endblock %}
{% block sidebar2 %}<a href="/pet_sitting/add_pet/">Add a New Pet</a>{% endblock %}
{% block sidebar3 %}{% endblock %}
{% block sidebar4 %}{% endblock %}
{% block sidebar5 %}{% endblock %}
{% block sidebar6 %}<a href="/pet_sitting/create_order/">Create an Order</a>{% endblock %}
{% block sidebar7 %}<a href="/pet_sitting/create_service/">Create a New Service</a>{% endblock %}
{% block sidebar8 %}{% endblock %}

{% comment %}
{% block page_heading %}<h1 class="page-header">Dashboard</h1>{% endblock %}
{% block page %}This is the page content{% endblock %}
{% endcomment %}