{% extends "base.html" %}

{% block title %}Superior Pet Services{% endblock %}

{% block projectname %}<a class="navbar-brand" href="/pet_sitting/dashboard/">Superior Pet Services Operational Dashboard</a>{% endblock %}

{% block dashboard %}<a href="/pet_sitting/dashboard/">Dashboard</a>{% endblock %}
{% block admin %}<a href="/admin/">Admin</a>{% endblock %}
{% block website %}<a href="http://www.superiorpetservices.com/">Website</a>{% endblock %}
{% block help %}<a href="#">Help</a>{% endblock %}
{% block profile %}<a href="/logout/">Logout</a>{% endblock %}

{% block sidebar_top1 %}<a href="/pet_sitting/dashboard/">Overview <span class="sr-only">(current)</span></a>{% endblock %}
{% block sidebar_top2 %}<a href="#">Placeholder</a>{% endblock %}
{% block sidebar_top3 %}<a href="#">Placeholder</a>{% endblock %}
{% block sidebar_top4 %}<a href="#">Placeholder</a>{% endblock %}

{% block sidebar1 %}<a href="/pet_sitting/add_customer/">Add a New Customer</a>{% endblock %}
{% block sidebar2 %}<a href="/pet_sitting/add_pet/">Add a New Pet</a>{% endblock %}
{% block sidebar3 %}<a href="/pet_sitting/add_order/">Create an Order</a>{% endblock %}
{% block sidebar4 %}<a href="/pet_sitting/add_service/">Create a New Service</a>{% endblock %}
{% block sidebar5 %}{% endblock %}

{% block sidebar6 %}<a href="/pet_sitting/customer/all/">View All Customers</a>{% endblock %}
{% block sidebar7 %}<a href="/pet_sitting/pet/all/">View All Pets</a>{% endblock %}
{% block sidebar8 %}<a href="/pet_sitting/order/all/">View All Orders</a>{% endblock %}
{% block sidebar9 %}<a href="/pet_sitting/service/all/">View All Services</a>{% endblock %}

{% comment %}
{% block page_heading %}<h1 class="page-header">Dashboard</h1>{% endblock %}
{% block page %}This is the page content{% endblock %}
{% endcomment %}

